<a href="https://colab.research.google.com/github/410601610/Introduction-to-Computers/blob/main/0523.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [24]:
print("0523")

0523

In [4]:
sum = 0
test = int(input('請輸入一個正整數: '))
for n in range(1,test+1):
  sum = sum+n
print('1到',test,'的正整數',sum)

請輸入一個正整數: 10
1到 10 的正整數 55

In [7]:
sum = 0
test = int(input('請輸入一個正整數: '))
for m in range(1,test+1):
  sum = sum+m
  print('1到',str(m),'的正整數',sum)

請輸入一個正整數: 50
1到 1 的正整數 1
1到 2 的正整數 3
1到 3 的正整數 6
1到 4 的正整數 10
1到 5 的正整數 15
1到 6 的正整數 21
1到 7 的正整數 28
1到 8 的正整數 36
1到 9 的正整數 45
1到 10 的正整數 55
1到 11 的正整數 66
1到 12 的正整數 78
1到 13 的正整數 91
1到 14 的正整數 105
1到 15 的正整數 120
1到 16 的正整數 136
1到 17 的正整數 153
1到 18 的正整數 171
1到 19 的正整數 190
1到 20 的正整數 210
1到 21 的正整數 231
1到 22 的正整數 253
1到 23 的正整數 276
1到 24 的正整數 300
1到 25 的正整數 325
1到 26 的正整數 351
1到 27 的正整數 378
1到 28 的正整數 406
1到 29 的正整數 435
1到 30 的正整數 465
1到 31 的正整數 496
1到 32 的正整數 528
1到 33 的正整數 561
1到 34 的正整數 595
1到 35 的正整數 630
1到 36 的正整數 666
1到 37 的正整數 703
1到 38 的正整數 741
1到 39 的正整數 780
1到 40 的正整數 820
1到 41 的正整數 861
1到 42 的正整數 903
1到 43 的正整數 946
1到 44 的正整數 990
1到 45 的正整數 1035
1到 46 的正整數 1081
1到 47 的正整數 1128
1到 48 的正整數 1176
1到 49 的正整數 1225
1到 50 的正整數 1275

In [12]:
for j in range(1,5):
  print(j)
  for i in range(1,3):
    k=i*j
    print(j,"*",i,"=",k)

1
1 * 1 = 1
1 * 2 = 2
2
2 * 1 = 2
2 * 2 = 4
3
3 * 1 = 3
3 * 2 = 6
4
4 * 1 = 4
4 * 2 = 8

In [13]:
for j in range(1,6):
  print(j)
  for i in range(1,3):
    k=i*j
    print(j,"*",i,"=",k)

1
1 * 1 = 1
1 * 2 = 2
2
2 * 1 = 2
2 * 2 = 4
3
3 * 1 = 3
3 * 2 = 6
4
4 * 1 = 4
4 * 2 = 8
5
5 * 1 = 5
5 * 2 = 10

In [15]:
for i in range(1,5):
  if (i==4):
    break
  print(i,end=" ")

1 2 3

In [16]:
for i in range(1,5):
  if(i==4):
    continue
  print(i,end=" ")

1 2 3

In [18]:
conunt = 0
for string in "測試看看!":
  conunt+=1
  if string =="看":
    break
  print(string)
print("迴圈結束!" )
print("迴圈執行了 %d 次" %conunt)

測
試
迴圈結束!
迴圈執行了 3 次

In [20]:
conunt = 0
for string in "apple!":
  conunt+=1
  if string =="l":
    break
  print(string)
print("迴圈結束!" )
print("迴圈執行了 %d 次" %conunt)

a
p
p
迴圈結束!
迴圈執行了 4 次

In [21]:
for i in range(1,10):
  for j in range(1,10):
    print(f"{j}*{i}={j*i}",end="\t")
  print()

1*1=1	2*1=2	3*1=3	4*1=4	5*1=5	6*1=6	7*1=7	8*1=8	9*1=9
1*2=2	2*2=4	3*2=6	4*2=8	5*2=10	6*2=12	7*2=14	8*2=16	9*2=18
1*3=3	2*3=6	3*3=9	4*3=12	5*3=15	6*3=18	7*3=21	8*3=24	9*3=27
1*4=4	2*4=8	3*4=12	4*4=16	5*4=20	6*4=24	7*4=28	8*4=32	9*4=36
1*5=5	2*5=10	3*5=15	4*5=20	5*5=25	6*5=30	7*5=35	8*5=40	9*5=45
1*6=6	2*6=12	3*6=18	4*6=24	5*6=30	6*6=36	7*6=42	8*6=48	9*6=54
1*7=7	2*7=14	3*7=21	4*7=28	5*7=35	6*7=42	7*7=49	8*7=56	9*7=63
1*8=8	2*8=16	3*8=24	4*8=32	5*8=40	6*8=48	7*8=56	8*8=64	9*8=72
1*9=9	2*9=18	3*9=27	4*9=36	5*9=45	6*9=54	7*9=63	8*9=72	9*9=81

In [26]:
a=int(input('請輸入 a 的值: '))
b=int(input('請輸入 b 的值: '))
for i in range(1,(a*b)+1):
  if(i % a == 0 and i % b == 0 ):
    break
print("最小公倍數 = %d " % (i))

請輸入 a 的值: 4
請輸入 b 的值: 6
最小公倍數 = 12

In [28]:
num = int(input("輸入正整數: "))
for n in range(1,num+1):
  if (n%5==0):
    continue
  print(n)

輸入正整數: 12
1
2
3
4
6
7
8
9
11
12